<script src="node_modules/chart.js/src/chart.js"></script>
<div   class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas *ngIf="lineChartData.length > 0" baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <button (click)="populate()">Refresh</button>
  </div>
</div>
