<h1>Update Balances</h1>

<p>You can update the current month's account balances from here.</p>
<p>Please upload a text file containing this months account balances.</p> 


<wf-file-upload>
</wf-file-upload>

<p>Please refer to the format of the sample text file</p>
<button (click)="downloadSampleFile()">Download Sample Text File</button>


