<div class="container">
    <div class="row">
      <select [(ngModel)]="selectedYear">
        <option *ngFor="let year of years" [ngValue]="year"> {{year}} </option>
      </select>
      <select [(ngModel)]="selectedMonth">
        <option *ngFor="let month of months" [ngValue]="month"> {{month}} </option>
      </select>

        <div>
            <input type="file" ng2FileSelect [uploader]="uploader" accept="text/plain"/>
        </div>

      <button type="button" class="btn btn-success btn-xs"
              (click)="uploader.queue[0].upload()">
        <span></span> Upload
      </button>
    </div>

</div>
