<h1>View Balance</h1>
<select [(ngModel)]="selectedYear" (ngModelChange)="onChange($event)">
  <option *ngFor="let year of years" [ngValue]="year"> {{year}} </option>
</select>
<select [(ngModel)]="selectedMonth" (ngModelChange)="onChange($event)">
  <option *ngFor="let month of months" [ngValue]="month"> {{month}} </option>
</select>

<p *ngIf="!statement"><em>Please Select a month and a year to dislay account balances</em></p>
<p *ngIf="statement">Balances as of {{statement.statementDate}}</p>

<table class='table' *ngIf="statement">
    <thead>
        <tr >
            <th *ngFor="let accountBalance of statement.accountBalances" >{{ accountBalance.name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngFor="let accountBalance of statement.accountBalances">{{ accountBalance.balance }}</td>
        </tr>
    </tbody>
</table>
